.page.theme_light {
  --accent-color: rgba(255, 141, 203, 1);
  --secondary-color: rgba(255, 194, 230, 1);
  --bg-color: rgba(255, 241, 247, 1);
  --text-color: rgba(53, 52, 48, 1);
  --shadow-text: rgba(255, 0, 112, 1);
  --decor-color: rgba(53, 52, 48, 1);
  --text-heading:  rgba(53, 52, 48, 1);
  --border: 1px solid var(--decor-color);
  --background-image: url("../images/cover-image-light.png");
  --border-hover: 1px solid rgba(50, 49, 45, 0.4);
  --rec-display: none;
}